.DS_Store
__pycache__/
*.py[cod]
*.joblib

# Data and outputs
/data/raw/
/data/interim/
/data/processed/*
!/data/processed/8_Emb_Rank/
!/data/processed/8_Emb_Rank/**
!/data/README.md
/outputs/*
!/outputs/README.md
/data/processed/8_Emb_Rank/7_all_wikipedia_pages.jsonl
# Cache
**/.cache/

# Envs
.venv/
venv/
.env

# Notebooks checkpoints
.ipynb_checkpoints/
